# -----------------------------------------------------------------------
# EXPIRES CACHING: una semana
# -----------------------------------------------------------------------
 <filesMatch ".(ico|pdf|flv|jpg|svg|jpeg|png|gif|js|css|swf|woff)$">
 Header set Cache-Control "max-age=604800, public"
 </filesMatch>

# -----------------------------------------------------------------------
# CACHING on nginx server
# -----------------------------------------------------------------------
# location ~* \.(js|css|png|jpg|svg|jpeg|gif|ico)$ {
#     expires 2d;
#     add_header Cache-Control "public, no-transform";
# }

# -----------------------------------------------------------------------
# Definimos MIME types para asegurarnos de que el servidor los conoce.
# -----------------------------------------------------------------------
<IfModule mod_mime.c>
    AddType application/javascript          js
    AddType application/vnd.ms-fontobject   eot
    AddType application/x-font-ttf          ttf ttc
    AddType font/opentype                   otf
    AddType application/x-font-woff         woff
    AddType image/svg+xml                   svg svgz
    AddEncoding gzip                        svgz
</Ifmodule>

# -----------------------------------------------------------------------
# Comprimimos ficheros
# -----------------------------------------------------------------------
<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

# -----------------------------------------------------------------------
# Comprimimos ficheros NGINX
# -----------------------------------------------------------------------
# gzip on;
# gzip_comp_level 2;
# gzip_http_version 1.0;
# gzip_proxied any;
# gzip_min_length 1100;
# gzip_buffers 16 8k;
# gzip_types text/plain text/html text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;
# gzip_disable "MSIE [1-6].(?!.*SV1)";
# gzip_vary on;