*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/values/google_maps_api.xml
**/google-services.json
**/secret.xml
/app/src/main/res/values/countly.xml
**/*.aab
**/*.apk
/app/jerez/release/app-jerez-release/
/resources/jerez/scripts/timetables/
/resources/jerez/scripts/timetables_sync_report.log
