

.social-icons {
    display: none;
}

.navbar {
    display: none;
}

.share-post {
    display: none;
}

.footer-section {
    display: none;
}

.meta-section {
    display: none;
}

#c293400 {
    display: none;
}